body {
    background: linear-gradient(45deg, #D7FFDD, #F5FFED, #E3F6E8, #E3F6E8, #E3F6E8);
  }
  
.page-header {
  background: linear-gradient(to right, #37B353, #40734B, #40734B, #40734B  );
  -webkit-background-clip: text; /* For Safari/Chrome */
  background-clip: text;
  color: transparent;
}

.sidebar {
  padding: 20px;
  background: #E3F6E8;
  mix-blend-mode: multiply;
}

/* Styling for the sidebar heading */
.sidebar .grey {
  color: #333;
}

/* Styling for the sidebar links */
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #838383;
}

.sidebar a:hover {
  text-decoration: none;
  color: #37B353;
}

.sidescroll{
  color: #37B353;
}

/* for the Active page Style */
.active{
  color: #37B353 ;
}

  /* Card styling */
.card-head {
  color: #017119
}