<% layout('/layouts/boilerplate') %>
<body>
    <h1>User</h1>

    <p>name: <%= user.name  %></p>
    <p>name: <%= user.email  %></p>

    <a href="/users/<%= user._id %>/edit">Edit</a>
    <a href="/users">Back to All Users</a>

</body>
